{% load static %}
<!DOCTYPE HTML>
<html>
	<head>
		<title>Mr. Schedular</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{% static 'assets/css/main.css' %}" />
        <link rel="stylesheet" href="{% static '/CSS/sockets.css' %}">
        <script type="text/javascript" src="{% static '/js/sockets.js' %}"></script>
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<div id="main">
						<div class="inner">

							<!-- Header -->
								<header id="header">
									<a href="index.html" class="logo"><strong>Mr. Schedular</strong> by NITK-IT</a>
									<ul class="icons">
										<li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
										<li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
										<li><a href="#" class="icon brands fa-snapchat-ghost"><span class="label">Snapchat</span></a></li>
										<li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
										<li><a href="#" class="icon brands fa-medium-m"><span class="label">Medium</span></a></li>
									</ul>
								</header>

							<!-- Banner -->
								

							<!-- Section -->
								<section>

									<header class="main">
										<h1>Ring Algorithm</h1>
									</header>

									<header class="major">
										<h2>Description</h2>
									</header>
									<p>This algorithm applies to systems organized as a ring(logically or physically). In this algorithm 
                                        we assume that the link between the process are unidirectional and every process can message to the 
                                        process on its right only. Data structure that this algorithm uses is active list, a list that has 
                                        priority number of all active processes in the system.
                                    </p>

                                    <hr class="major" />

                                    <header class="major">
										<h2>Algorithm</h2>
									</header>
                                    Suppose process P sends a message to the coordinator.

                                    <ul>
                                        <li>If process P1 detects a coordinator failure, it creates new active list which is empty initially. 
                                            It sends election message to its neighbour on right and adds number 1 to its active list.</li>
                                        <li>If process P2 receives message elect from processes on left, it responds in 3 ways:
                                            <ol>
                                                <li>If message received does not contain 1 in active list then P1 adds 2 to its active list and forwards the message.</li>
                                                <li>If this is the first election message it has received or sent, P1 creates new active list with numbers 1 and 2. It then sends election message 1 followed by 2.</li>
                                                <li> If Process P1 receives its own election message 1 then active list for P1 now contains numbers of all the active processes in the system. Now Process P1 detects highest priority number from list and elects it as the new coordinator.</li>
                                            </ol>
                                        </li>
                                    </ul>

                                    <hr class="major" />

									<header class="major">
										<h2>Simulation</h2>
									</header>

                                    <ul>
                                        <li><h5>Process 2 sends a message to the coordinator</h5></li><br/>
                                            <img src="{% static '/images/ring/1.gif' %}" alt="hmm" height="400px" width="700px"/>
                                        <li><h5>Process 2 does not receive a reply from the coordinator process and declares the coordinator is failed</h5></li><br/>
                                            <img src="{% static '/images/ring/2.png' %}" alt="hmm" height="400px" width="700px"/>
                                        <li><h5>Process 2 starts the eletion, adds itself in the list and send it to the neigbouring process and this is continued till a process find itslf in the list</h5></li><br/>
                                            <img src="{% static '/images/ring/3.gif' %}" alt="hmm" height="400px" width="700px"/>
                                        <li><h5>The process with the highest priority in the list is chosen as the coordinator</h5></li><br/>
                                            <img src="{% static '/images/ring/4.png' %}" alt="hmm" height="400px" width="700px"/>
                                    </ul>

                                    
									

						</div>
					</div>

				<!-- Sidebar -->
					<div id="sidebar">
						<div class="inner">

							<!-- Search -->
								<section id="search" class="alt">
									<form method="post" action="#">
										<input type="text" name="query" id="query" placeholder="Search" />
									</form>
								</section>

							<!-- Menu -->
								<nav id="menu">
									<header class="major">
										<h2>Menu</h2>
									</header>
									<ul>
										<li><a href="/">Homepage</a></li>
										<li><a href="#">Generic</a></li>
										<li><a href="#">Elements</a></li>
										<li>
											<span class="opener">Submenu</span>
											<ul>
												<li><a href="#">Lorem Dolor</a></li>
												<li><a href="#">Ipsum Adipiscing</a></li>
												<li><a href="#">Tempus Magna</a></li>
												<li><a href="#">Feugiat Veroeros</a></li>
											</ul>
										</li>
										<li><a href="#">Etiam Dolore</a></li>
										<li><a href="#">Adipiscing</a></li>
										<li>
											<span class="opener">Another Submenu</span>
											<ul>
												<li><a href="#">Lorem Dolor</a></li>
												<li><a href="#">Ipsum Adipiscing</a></li>
												<li><a href="#">Tempus Magna</a></li>
												<li><a href="#">Feugiat Veroeros</a></li>
											</ul>
										</li>
										<li><a href="#">Maximus Erat</a></li>
										<li><a href="#">Sapien Mauris</a></li>
										<li><a href="#">Amet Lacinia</a></li>
									</ul>
								</nav>

							<!-- Section -->
								<section>
									<header class="major">
										<h2>Latest News</h2>
									</header>
									<div class="mini-posts">
										<article>
											<a href="#" class="image"></a>
											<p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore aliquam.</p>
										</article>
										<article>
											<a href="#" class="image"></a>
											<p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore aliquam.</p>
										</article>
										<article>
											<a href="#" class="image"></a>
											<p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore aliquam.</p>
										</article>
									</div>
									<ul class="actions">
										<li><a href="#" class="button">More</a></li>
									</ul>
								</section>

							<!-- Section -->
								<section>
									<header class="major">
										<h2>Get in touch</h2>
									</header>
									<p>We are a group of undergraduates at NITK pursuing Information Technology as major. This website has been created as a course project for IT253 Operating Systems course.</p>
									<ul class="contact">
										<li class="icon solid fa-envelope"><a href="#">kausthubtm6671@gamil.com</a></li>
										<li class="icon solid fa-phone">(+91) 9481785251</li>
										<li class="icon solid fa-home">NITK, Surathkal <br />
                                            Karnataka India</li>
									</ul>
								</section>

							<!-- Footer -->
								<footer id="footer">
									<p class="copyright">&copy; Untitled. All rights reserved.</p>
								</footer>

						</div>
					</div>

			</div>

		<!-- Scripts -->
			<script src="{% static 'assets/js/jquery.min.js' %}"></script>
			<script src="{% static 'assets/js/browser.min.js' %}"></script>
			<script src="{% static 'assets/js/breakpoints.min.js' %}"></script>
			<script src="{% static 'assets/js/util.js' %}"></script>
			<script src="{% static 'assets/js/main.js' %}"></script>
            <script src="{% static 'CSS/index.css' %}"></script>

	</body>
</html>