{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'CSS/index.css' %}">
    <title>Document</title>
</head>
<body>
    <h1 class="heading">Simulator</h1>
    <ul>
        <li><a href="/cpuAlgo/1/">First come first serve</a></li>
        <li><a href="/cpuAlgo/2/">Round robin</a></li>
        <li><a href="/cpuAlgo/3/">Priority Non Pre-emptive</a></li>
        <li><a href="/cpuAlgo/4/">Priority Pre-emptive</a></li>
        <li><a href="/cpuAlgo/5/">Shortest First Job</a></li>
        <li><a href="/cpuAlgo/6/">Shortest Remaining Job First</a></li>
    </ul>
</body>
</html>