{% load static %}
<!DOCTYPE HTML>
<html>
	<head>
		<title>Mr. Schedular</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{% static 'assets/css/main.css' %}" />
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<div id="main">
						<div class="inner">

							<!-- Header -->
								<header id="header">
									<a href="index.html" class="logo"><strong>Mr. Schedular</strong> by NITK-IT</a>
									<ul class="icons">
										<li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
										<li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
										<li><a href="#" class="icon brands fa-snapchat-ghost"><span class="label">Snapchat</span></a></li>
										<li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
										<li><a href="#" class="icon brands fa-medium-m"><span class="label">Medium</span></a></li>
									</ul>
								</header>

							<!-- Banner -->
								

							<!-- Section -->
								<section>

									<header class="main">
										<h1>{{ algo.algo_name}}</h1>
									</header>

									<h2>Description</h2>
									<p>{{ algo.algo_description |linebreaksbr}}</p>

									<header class="major">
										<h2>Features</h2>
									</header>
									<div class="features">
										<article>
											<span class="icon far fa-file-alt"></span>
											<div class="content">
												<h3>Explanations</h3>
												<p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
											</div>
										</article>
										<article>
											<span class="icon solid fas fa-code"></span>
											<div class="content">
												<h3>Psuedo codes</h3>
												<p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
											</div>
										</article>
										<article>
											<span class="icon solid fas fa-tv"></span>
											<div class="content">
												<h3>Simulations</h3>
												<p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
											</div>
										</article>
										<article>
											<span class="icon solid fas fa-question"></span>
											<div class="content">
												<h3>Quiz</h3>
												<p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
											</div>
										</article>
									</div>
								</section>

							<!-- Section -->
								<section>
									<header class="major">
										<h2>Topics</h2>
									</header>
									<div class="posts">
										<article>
											<a href="#" class="image"></a>
											<h3>CPU Scheduling</h3>
											<p>FCFS is the simplest scheduling algorithm. FCFS simply queues processes in the order that they arrive in the ready queue. In this ...</p>
											<ul class="actions">
												<li><a href="/cpuAlgo/" class="button">Read More</a></li>
											</ul>
										</article>
										<article>
											<a href="#" class="image"></a>
											<h3>Round Robin</h3>
											<p>Round Robin is a CPU scheduling algorithm where each process is assigned a fixed time slot in a cyclic way. It is simple, easy to implement, and ... </p>
											<ul class="actions">
												<li><a href="/cpuAlgo/2/" class="button">Read More</a></li>
											</ul>
										</article>
										<article>
											<a href="#" class="image"></a>
											<h3>Priority Non Preemptive</h3>
											<p>Priority Scheduling is a method of scheduling processes that is based on priority. In this algorithm, the scheduler selects the tasks to work as ...</p>
											<ul class="actions">
												<li><a href="/cpuAlgo/3/" class="button">Read More</a></li>
											</ul>
										</article>
										<article>
											<a href="#" class="image"></a>
											<h3>Priority Preemptive</h3>
											<p>Priority Scheduling is a method of scheduling processes that is based on priority. In this algorithm, the scheduler selects the tasks to work as ...</p>
											<ul class="actions">
												<li><a href="/cpuAlgo/4/" class="button">Read More</a></li>
											</ul>
										</article>
										<article>
											<a href="#" class="image"></a>
											<h3>Shortest Job First</h3>
											<p>Shortest job first (SJF) or shortest job next, is a scheduling policy that selects the waiting process with the smallest execution time to execute ...</p>
											<ul class="actions">
												<li><a href="/cpuAlgo/5/" class="button">Read More</a></li>
											</ul>
										</article>
										<article>
											<a href="#" class="image"></a>
											<h3>Shortest Remaining Job First</h3>
											<p>Shortest Remaining Time First (SRTF) is the preemptive version of Shortest Job Next (SJN) algorithm, where the processor is allocated to ... </p>
											<ul class="actions">
												<li><a href="/cpuAlgo/6/" class="button">Read More</a></li>
											</ul>
										</article>
									</div>
								</section>

						</div>
					</div>

				<!-- Sidebar -->
					<div id="sidebar">
						<div class="inner">

							<!-- Search -->
								<section id="search" class="alt">
									<form method="post" action="#">
										<input type="text" name="query" id="query" placeholder="Search" />
									</form>
								</section>

							<!-- Menu -->
								<nav id="menu">
									<header class="major">
										<h2>Menu</h2>
									</header>
									<ul>
										<li><a href="">Homepage</a></li>
										<li><a href="#">Generic</a></li>
										<li><a href="#">Elements</a></li>
										<li>
											<span class="opener">Submenu</span>
											<ul>
												<li><a href="#">Lorem Dolor</a></li>
												<li><a href="#">Ipsum Adipiscing</a></li>
												<li><a href="#">Tempus Magna</a></li>
												<li><a href="#">Feugiat Veroeros</a></li>
											</ul>
										</li>
										<li><a href="#">Etiam Dolore</a></li>
										<li><a href="#">Adipiscing</a></li>
										<li>
											<span class="opener">Another Submenu</span>
											<ul>
												<li><a href="#">Lorem Dolor</a></li>
												<li><a href="#">Ipsum Adipiscing</a></li>
												<li><a href="#">Tempus Magna</a></li>
												<li><a href="#">Feugiat Veroeros</a></li>
											</ul>
										</li>
										<li><a href="#">Maximus Erat</a></li>
										<li><a href="#">Sapien Mauris</a></li>
										<li><a href="#">Amet Lacinia</a></li>
									</ul>
								</nav>

							<!-- Section -->
								<section>
									<header class="major">
										<h2>Latest News</h2>
									</header>
									<div class="mini-posts">
										<article>
											<a href="#" class="image"></a>
											<p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore aliquam.</p>
										</article>
										<article>
											<a href="#" class="image"></a>
											<p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore aliquam.</p>
										</article>
										<article>
											<a href="#" class="image"></a>
											<p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore aliquam.</p>
										</article>
									</div>
									<ul class="actions">
										<li><a href="#" class="button">More</a></li>
									</ul>
								</section>

							<!-- Section -->
								<section>
									<header class="major">
										<h2>Get in touch</h2>
									</header>
									<p>We are a group of undergraduates at NITK pursuing Information Technology as major. This website has been created as a course project for IT253 Operating Systems course.</p>
									<ul class="contact">
										<li class="icon solid fa-envelope"><a href="#">kausthubtm6671@gamil.com</a></li>
										<li class="icon solid fa-phone">(+91) 9481785251</li>
										<li class="icon solid fa-home">NITK, Surathkal <br />
                                            Karnataka India</li>
									</ul>
								</section>

							<!-- Footer -->
								<footer id="footer">
									<p class="copyright">&copy; Untitled. All rights reserved.</p>
								</footer>

						</div>
					</div>

			</div>

		<!-- Scripts -->
			<script src="{% static 'assets/js/jquery.min.js' %}"></script>
			<script src="{% static 'assets/js/browser.min.js' %}"></script>
			<script src="{% static 'assets/js/breakpoints.min.js' %}"></script>
			<script src="{% static 'assets/js/util.js' %}"></script>
			<script src="{% static 'assets/js/main.js' %}"></script>
            <script src="{% static 'CSS/index.css' %}"></script>

	</body>
</html>